---
import './button.css';
import * as SVGs from '../../assets/svgs';

const {
    icon,
    activeIcon,
    text,
    hideText,
    transparent,
    background = {},
    buttonClassName = '',
} = Astro.props;
const { backgroundUrl, backgroundTitle } = background;
const hasTransparentBackground = (transparent || backgroundUrl)

const Icon = SVGs[icon];
const ActiveIcon = SVGs[activeIcon];

//Inladen van Icons met behulp van Cyd & stack overflow https://stackoverflow.com/questions/76985138/any-way-to-init-an-astro-component-by-string

const classNames = 'btn-wrapper ' + (hasTransparentBackground ? 'transparent ' : '');
---

<div class={classNames}>
    <div class="button-inside">
        {   backgroundUrl &&
                <img class="button-background" src={backgroundUrl} alt={backgroundTitle} />
        }

        <button aria-label={text} class={`${buttonClassName} button`} title={text}>
            {icon &&
                    <span class="icon"><Icon /></span>
            }
            {activeIcon &&
                    <span class="active-icon"><ActiveIcon /></span>
            }
            {!hideText && text}
        </button>
    </div>
</div>
