---
import {
	fetchSpotifyArtistsByGenre,
	fetchSpotifyTrackByArtist,
	fetchSuggestedGamesBySearch,
	fetchSongs
} from '../api/index.js';
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button/Button.astro';
import SongList from '../components/SongList/SongList.astro';
import PlayListPreview from '../components/PlayListPreview/PlayListPreview.astro';

import '../style/index.css';
---


<MainLayout title="Find your songs!">
		<Button buttonClassName="generate-button" text="Generate Songs" />

		<SongList songs={undefined} />
		<PlayListPreview />
</MainLayout>

<script>
	import { fetchSongs } from '../api/spotifyApi.js'

	document.querySelector('.generate-button').addEventListener('click', async () => {
		const songs = await fetchSongs('pop');
		updateSongList(songs);
	});

	function updateSongList(songs) {
		const songList = document.querySelector('.song-list');

		songList.innerHTML = songs.map(song => `
		  <li class="song-item">
			<div class="song">
			  <img class="album-cover" src="${song.album.images[0].url}" alt="${song.name}" />
			  <div class="song-info">
				<p class="song-title">${song.name}</p>
				<p class="song-artist">${song.artists[0].name}</p>
			  </div>
			</div>
			<div class="link-wrapper">
				<a href="/song/${song.id}">Meer info</a>
			</div>
			
		  </li>
		`).join('');
	}
</script>

<script is:inline>
	let pipWindow;

	async function togglePiPWindow() {

		pipWindow = await documentPictureInPicture.requestWindow({
			width: 300,
			height: 75,
			disallowReturnToOpener: true
		});

		//@TODO: Zet hier dus het element wat ik in de document pip wil.
		//const element =
		const style = document.createElement('style');
		style.textContent = 'body{margin: 0; overflow: hidden;}'

		pipWindow.addEventListener('pagehide', () => {
			const body = document.querySelector('body');
			body.append(element);

			setSongInactive(songItem);
		})

		pipWindow.document.body.append(style);
		//pipWindow.document.body.append(element);
	}

</script>